# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\001_My_Space\92_Workspace\25_Rest_Assured\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
